.activeUser__name {
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  max-width: 6rem;
  /* height: 28px; */
  margin: 0 auto;
  line-height: 1.4;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.activeUser__showList::-webkit-scrollbar {
  display: none;
}
